<div class="flex flex-col min-h-svh p-8">
    <div class="flex flex-col grow space-y-3 overflow-hidden">
        <div style="background-color: floralwhite;" matRipple (click)="continueSorting(choice$1?.id)"
            class="rounded-xl flex grow flex-col justify-center items-center p-4">
            <p class="text-center text-2xl md:text-4xl lg:text-5xl break-words">{{choice$1?.title}}</p>
        </div>
        <span class="text-center">OR</span>
        <div style="background-color: floralwhite;" matRipple (click)="continueSorting(choice$2?.id)"
            class="rounded-xl flex grow flex-col justify-center items-center p-4">
            <p class="text-center text-2xl md:text-4xl lg:text-5xl break-words">{{choice$2?.title}}</p>
        </div>
    </div>
</div>