<div class="flex flex-col min-h-screen p-8">
    <mat-toolbar>
        What is priority?
    </mat-toolbar>
    <div class="flex flex-col grow space-y-3 overflow-hidden">
        <mat-card matRipple (click)="test()" class="flex grow flex-col justify-center items-center p-4">
            <p class="text-center text-2xl md:text-4xl lg:text-5xl break-words">Tere talv on ikka siin või?</p>
        </mat-card>
        <mat-card matRipple (click)="test()" class="flex grow flex-col justify-center items-center p-4">
            <p class="text-center text-2xl md:text-4xl lg:text-5xl break-words">tere</p>
        </mat-card>
    </div>
</div>