<div class="flex-column-container">
  <div>
    <mat-toolbar [matMenuTriggerFor]="projectOptions">
      {{taskList$?.title}}
      <mat-menu #projectOptions="matMenu" yPosition="below" xPosition="after">
        <button (click)="openEditTaskListSheet()" mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Rename</span>
        </button>
        <button (click)="deleteTaskList()" mat-menu-item>
          <mat-icon color="warn">delete</mat-icon>
          <span>Delete Project</span>
        </button>
      </mat-menu>
    </mat-toolbar>

  </div>
  <div *ngIf="tasks$.length != 0; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <mat-selection-list *ngFor="let task of tasks$">
      <mat-list-item [matMenuTriggerFor]="taskOptions">
        {{task.title}}
      </mat-list-item>
      <mat-menu #taskOptions="matMenu" yPosition="below" xPosition="after">
        <button (click)="openEditTaskSheet(task.id!, task.title)" mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button (click)="deleteTask(task.id!)" mat-menu-item>
          <mat-icon color="warn">delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </mat-selection-list>
  </ng-template>

  <ng-template #elseBlock>
    <div class="p-3">No tasks.</div>
  </ng-template>
  <button class="md-fab-bottom-fixed-left" (click)="goToSortPage()" mat-fab matTooltip="Add" color="accent"
    aria-label="Add Task">
    <mat-icon>{{ taskList$?.prioritized ? 'low_priority' : 'play_arrow' }}</mat-icon>
  </button>
  <button class="md-fab-bottom-fixed-right" (click)="openAddTaskSheet()" mat-fab matTooltip="Add" color="primary"
    aria-label="Add Task">
    <mat-icon>add</mat-icon>
  </button>

</div>