/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html{ height: 100%;  height: -webkit-fill-available; }
body { 
    min-height: 100vh;
     /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-column-container {
    @apply p-8;
}

.md-fab-bottom-fixed-right {
    top: auto !important;
    right: 20px !important;
    bottom: 20px !important;
    left: auto !important;
    position: fixed !important;
}

.md-fab-bottom-fixed-left {
    top: auto !important;
    left: 20px !important;
    bottom: 20px !important;
    right: auto !important;
    position: fixed !important;
}

.md-button-bottom-fixed {
    top: auto !important;
    bottom: 20px !important;
    left: 20px !important;
    right: 20px !important;
    position: fixed !important;
}

.icon-top-left-corner-fixed {
    top: 8px !important;
    bottom: auto !important;
    left: auto !important;
    right: 5px !important;
    position: fixed !important;
}

