<div class="flex-column-container">
    <mat-toolbar>
        Prioritize Requirements
    </mat-toolbar>
    <div *ngIf="taskLists$.length != 0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <mat-selection-list *ngFor="let taskList of taskLists$">
            <mat-list-item [routerLink]="['/', taskList.id]">
                <h3 matListItemTitle>{{taskList.title}}</h3>
                <p matListItemLine>
                    {{taskList.date | date: 'mediumDate' }}
                </p>
            </mat-list-item>
        </mat-selection-list>
    </ng-template>
    <ng-template #elseBlock>
        <div class="p-3">No lists.</div>
    </ng-template>
        <button class="flex md-button-bottom-fixed" (click)="createNewTaskList()" mat-raised-button matTooltip="Create New Project" color="primary"
        aria-label="Create New Project">
        Create New Project
    </button>
</div>